version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - .:/app
    networks:
      - shared_network
    environment:
      APP_URL: ${APP_URL}
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    depends_on:
      - app
    ports:
      - "8081:80"        # Laravel jalan di port 8081 di host
    volumes:
      - .:/app
      - ./default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - shared_network

networks:
  shared_network:
    external: true
