version: '3.9'

services:
  app:
    container_name: laravel_app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    networks:
      - shared_network
    environment:
      - .env
  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    depends_on:
      - app
    ports:
      - "8081:80"        # Laravel jalan di port 8081 di host
    volumes:
      - .:/app
      - ./default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - shared_network

networks:
  shared_network:
    external: true
